/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav button {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background: #8ba0a4;
    color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #183e4b;
}
