a {
    text-decoration: none;
}

.review {
    margin-bottom: 50px;
}

.review h2 {
    color: #555;
}

.video-player {
    margin: 10px 0;
    max-width: 100%; /* Ограничивает максимальную ширину элемента */
    height: auto; /* Устанавливает высоту авто для адаптивности */
}

@media (min-width: 320px) and (max-width: 812px) {
iframe,
video {
    width: 100%; /* Сделайте ширину iframe или video равной 100% */
    height: auto; /* Установите высоту на автоматическую */
	margin-bottom: 10px;
}
.review {
    margin-bottom: 10px;
}
}