* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
	margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Занимает минимальную высоту 100vh */
			  height: auto; /* Позволяет телу растягиваться по содержимому */
}
/* меню сайта началось */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f232a;
    padding: 10px 20px;
    color: #eaeaea;
	z-index: 3;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 50; /* Размер иконки */
    height: 50px; /* Размер иконки */
}

.menu {
    display: flex;
    gap: 30px; /* Отступ между элементами меню */
}

.menu-item {
    background-color: #0f232a;
    border: none;
    color: #eaeaea;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
	font-family: Arial, sans-serif; /* Установка шрифта Arial */
    font-size: 17px; /* Добавьте для управления размером шрифта */
}

.menu-item:hover {
    background-color: #d74a49; /* Цвет при наведении */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #183e4b;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #eaeaea;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d74a49;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* меню сайта закончилось */

/* подвал начался */
        main {
            flex: 1; /* Основной контент занимает оставшееся пространство */
			
        }
    footer {
            display: flex;
            flex-direction: column;
            background-color: #0f232a; /* Черный фон */
            color: #8ba0a4; /* Белый цвет текста для контраста */
            padding: 20px;
            border-top: 1px solid #ccc;
			 position: relative; /* Чтобы подвал находился выше фона */
    z-index: 2; /* Выше фона */
			
        }
        .footer-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-top img {
            height: 25px; /* Высота иконок */
            margin-right: 10px;
        }
        .social-icons {
            display: flex;
            gap: 10px;
        }
        .footer-bottom {
            display: flex;
            flex-direction: column; /* Разделение на две строки */
            align-items: flex-end; /* Выравнивание текста по правому краю */
            margin-top: 10px;
        }
        .footer-links {
            text-align: right; /* Выравнивание текста по правому краю */
        }
        .footer-credits {
            text-align: left;
        }
/* подвал закончился */

/* задний фон начался */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
    background-image: url('images/background.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Размытие */
    z-index: 1; /* Указываем, что это фоновый слой */
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); /* Затемнение */
    z-index: 1; /* Это слой затемнения */
}
/* задний фон закончился */

/* содержимое страницы */
.container {
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex: 1; /* Чтобы занять доступное пространство между заголовком и подвалом */
}

.content {
    z-index: 2; /* Содержимое выше фона и затемнения */
    width: 100vw; /* Ширина на весь экран */
    height: 100vh; /* Высота на весь экран */
    max-width: 1500px; /* Максимальная ширина блока */
    max-height: 900px; /* Максимальная высота блока */
    padding: 20px; /* Отступы внутри блока */
    background: white; /* Фон блока белого цвета */
    border-radius: 8px; /* Скругление углов блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для блока */
    opacity: 0.95; /* Небольшая прозрачность */
    overflow: auto; /* Прокрутка, если содержимое превышает размеры блока */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}


/* содержимое страницы */

/* градиенты */
.gradient-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Высота градиента сверху */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    z-index: 2; /* Выше фона */
}

.gradient-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Высота градиента снизу */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 2; /* Выше фона */
}
/* градиенты */

/* бот */
.chibi {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.chibi img {
    width: 250px; /* размер мини-чибика */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    text-align: center; /* Центрировать текст */
}

.popup p {
    margin: 0 0 15px; /* Добавление отступа между текстом и кнопками */
	color:black;
}

.popup a,
.popup button {
    display: inline-block;
    margin: 5px 10px; /* Добавим немного отступов между кнопками */
    padding: 10px 20px; /* Внутренние отступы */
    border: none;
    border-radius: 5px; /* Скругление углов */
    cursor: pointer;
}

.popup a {
    background-color: #183e4b; /* Зеленый цвет для кнопки 'Посетить' */
    color: white;
    text-decoration: none; /* Убрать подчеркивание у ссылки */
}

.popup button {
    background-color: #8ba0a4; /* Красный цвет для кнопки 'Нет' */
    color: white;
}

.popup a:hover,
.popup button:hover {
    opacity: 0.8; /* Затемнение кнопки при наведении */
}


/* бот */

/* блоки с иконками */
.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 20px;
	font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.block2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 52px;
    text-align: center;
}

.icon2 {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
/* блоки с иконками */
a {
  color: black;
  text-decoration: none; /* no underline */
}
/* содержимое страницы2 */
.container11 {
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex: 1; /* Чтобы занять доступное пространство между заголовком и подвалом */
}

.content11 {
    z-index: 2; /* Содержимое выше фона и затемнения */
    max-width: 1500px; /* Максимальная ширина блока */
    padding: 20px; /* Отступы внутри блока */
    background: white; /* Фон блока белого цвета */
    border-radius: 8px; /* Скругление углов блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для блока */
    opacity: 0.95; /* Небольшая прозрачность */
}
/* содержимое страницы */
.container5 {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.review {
    margin-bottom: 40px; /* Расстояние между обзорами */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Соотношение 16:9 */
    height: 0;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 812px) {
.chibi {
    position: fixed;
    bottom: 5px;
    right: 35px;
    cursor: pointer;
    z-index: 1000;
}

.chibi img {
    width: 120px; /* размер мини-чибика */
}
	.container11 {
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex: 1; /* Чтобы занять доступное пространство между заголовком и подвалом */
}

.content11 {
    z-index: 2; /* Содержимое выше фона и затемнения */
    max-width: 400px; /* Максимальная ширина блока */
    padding: 10px; /* Отступы внутри блока */
    background: white; /* Фон блока белого цвета */
    border-radius: 8px; /* Скругление углов блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для блока */
    opacity: 0.95; /* Небольшая прозрачность */
}
    header {
        padding: 10px; /* Увеличьте отступ для лучшей видимости */
    }
.h1 {
    font-size: 15px;
    margin-bottom: 5px;
}
.h2 {
    font-size: 12px;
}
    .logo {
        gap: 10px; /* Увеличьте расстояние между логотипом и текстом */
    }

    .icon {
        width: 24px; /* Увеличьте размер иконки для лучшей видимости */
        height: 24px; /* Увеличьте размер иконки для лучшей видимости */
    }

    .menu {
        gap: 2px; /* Увеличьте отступ между элементами меню */
    }

    .menu-item {
        padding: 2px 2px; /* Увеличьте отступ для лучшего кликабельного пространства */
        font-size: 10px; /* Увеличьте размер шрифта для удобства чтения */
    }

    .dropdown-content {
        min-width: 50px; /* Увеличьте минимальную ширину выпадающего меню */
    }

    .dropdown-content a {
        padding: 10px; /* Увеличьте отступ для лучшей кликабельности */
		font-size: 10px;
    }
	 body {
        margin: 0;
        display: flex;
        flex-direction: column;
        height: auto; /* Позволяет телу растягиваться по содержимому */
        padding: 10px; /* Добавляем сторонний отступ для уменьшения сжатия на мобильных устройствах */
    }

/* содержимое страницы */
.container5 {
    max-width: 900px;
    padding: 10px;
    border-radius: 4px;
}

/* задний фон начался */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
    background-image: url('images/background.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Размытие */
    z-index: 1; /* Указываем, что это фоновый слой */
}

/* блоки с иконками */
.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 5px;
	font-family: Arial, sans-serif;
	font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.block2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.icon2 {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
/* блоки с иконками */
a {
  color: black;
  text-decoration: none; /* no underline */
}
.review {
    margin-bottom: 10px; /* Расстояние между обзорами */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

    .video-title {
        font-size: 1.5em; /* Увеличиваем шрифт заголовка для лучшей читаемости */
        margin-bottom: 10px; /* Увеличиваем отступ снизу */
    }

    .video-info p {
        font-size: 0.9em; /* Уменьшаем размер шрифта для информации о видео */
    }
	.video-container {
    position: relative;
    padding-bottom: 75%; /* Соотношение 4:3 */
    height: 0;
}
}